.main {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.titleSection {
  padding-top: 12rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1 1;
}

.mainTitle {
  font-size: 2.8rem;
  font-weight: 500;
  color: #fff;
  font-size: var(--title-1-size);
  line-height: var(--title-1-line-height);
  font-weight: 900;
}

.subTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 24x;
  color: #fff;
  line-height: 32px;
}

.startButton {
  position: fixed;
  padding: 0.75rem 0;

  bottom: 4rem;
  width: 75%;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 48px;
  font-size: 24px;
}
