.main {
  width: 100%;
  height: 100%;
  /* background: radial-gradient(circle, #48A7F8, #9BDCFD); */
  /* background: linear-gradient(135deg, #A1FF8B 0%, #3F93FF 96.83%); */
  position: relative;
  background-image: url("../../../public/beach.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main::-webkit-scrollbar {
  display: none;
}
