.title {
  font-size: 28px;
  line-height: 28px;
  padding: 24px 0;
  text-align: center;
}

.dayContainer {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 32px;
  width: 98%;
  text-align: center;
  margin: 0 auto;
  left: 0;
  top: 48px;
  background-color: #fff;
  right: 0;
}

.bar {
  width: 100%;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #cdcfd0;
}

.monthsContainer {
  padding-top: 80px;
}

@media screen and (min-width: 420px) {
  .dayContainer {
    width: calc(420px * 0.98);
  }
  .bar {
    width: 420px;
    margin: 0 auto;
  }
}
