.label {
  display: block;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 12px;
}

.container {
  padding: 16px 0;
}

.themeList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.theme {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px 8px 12px;
  gap: 8px;
  background: #e7e7ff;
  border-radius: 32px;
}

.blue {
  color: #48a7f8;
  background-color: #c9f0ff;
}

.green {
  color: #23c16b;
  background-color: #ecfce5;
}
