.addButton {
  position: fixed;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  gap: 24px;
  width: 160px;
  bottom: 36px;
  right: 24px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  height: 48px;
  color: #fff;
  background: #48a7f8;
  border-radius: 48px;
}

@media screen and (min-width: 430px) {
  .addButton {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    gap: 24px;
    width: 160px;
    bottom: 36px;
    left: calc((100dvw - 430px) / 2 + 236px);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    height: 48px;
    color: #fff;
    background: #48a7f8;
    border-radius: 48px;
  }
}

.addButton svg {
  fill: #fff;
}
